.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.red {
    text-decoration: line-through;
    color: rgba(211, 198, 15, 0.734);
    font-weight: 600;
}

.btn-primary {
    margin-right: 15px;
}

.content {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 50px;
    height: 50%;

}

.title {
    font-size: 16px;
    padding-top: 10px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.check {
    width: 7%;
    margin-top: 10px;
}

.buttonStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    margin-top: 8%;
}

.Modifier:hover {
    background-color: white;
    color: rgb(13, 87, 226);

}

.Modifier {
    font-weight: bold;
    font-size: 12px;
    border: 2px rgba(13, 88, 226, 0.183) solid;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Supprimer:hover {
    background-color: white;
    color: rgb(217, 14, 14);
}

.Supprimer {
    font-weight: bold;
    font-size: 12px;
    border: 2px rgba(217, 14, 14, 0.311) solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;


}

.date {
    font-size: 12px;
}