.alert {
  position: fixed;
  bottom: 5px;
  z-index: 2;
}

.form-group {
  margin: 0 auto;
}

.success {
  background-color: rgba(9, 195, 9, 0.923);
  color: white;
  border: none;
}

.danger {
  background-color: rgba(210, 13, 13, 0.885);
  color: white;
}

.fade-enter-active {
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave-from {
  opacity: 1;
}

.fade-leave-active {
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-leave-to {
  opacity: 0;
}

.v-enter-from {
  opacity: 0;
}

.v-enter-active {
  transition: opacity 1s ease;
}

.v-enter-to {
  opacity: 1;
}

.v-leave-from {
  opacity: 1;
}

.v-leave-active {
  transition: opacity 1s ease;
}

.v-leave-to {
  opacity: 0;
}